.cardContent {
  display: flex;
  flex-direction: column;
  width: 204px;
  border-radius: 4px;
}

.cardContent:hover {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(217, 217, 217, 1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(217, 217, 217, 1);
  box-shadow: 4px 4px 5px 0px rgba(217, 217, 217, 1);
}

.heroData {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  gap: 16px;
}

.imageWrapper {
  width: 100%;
  display: flex;
  min-height: 200px;
  max-height: 394px;
  border-bottom: 2px solid #e92429;
}

.image {
  width: 99%;
  display: flex;
  min-height: 180px;
  max-height: 294px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  background-color: blueviolet;
}

.heroName {
  color: #404040;
  font-weight: bold;
  font-size: 16px;
}
