.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  width: 100%;
  gap: 40px;
}

.hero {
  display: "flex";
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #E7F6E7;
}
