.detailContainer {
  display: flex;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  border: 1px solid red;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 40%;
  z-index: 1;
}

.heroNameSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}

.heroNameBackground {
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 18rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.834);
  z-index: 0;
  max-width: 60%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
}

.heroName {
  color: #404040;
}

.heroDescription {
  color: #8c8c8c;
  font-weight: bold;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  align-items: center;

  gap: 16px;
}

.summaryTitle {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 16px;
}

.summaryData {
  color: #404040;
  font-weight: bold;
  font-size: 20px;
}

.summaryLastComicDate {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 14px;
}

.imageBackground {
  position: relative;
  min-width: 200px;
  width: 400px;
  display: flex;
  height: auto;
  overflow: hidden;
  object-fit: contain;
  border-radius: 4px;
}

.rating {
  display: flex;
  gap: 4px;
}
