.detailContainer {
  display: flex;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 40%;
  z-index: 1;
}

.heroNameSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}

.heroNameBackground {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 22rem;
  line-height: 22rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.426);
  z-index: 0;
  max-width: 72%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
}

.heroName {
  color: #404040;
}

.heroDescription {
  color: #8c8c8c;
  font-weight: bold;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.summaryTitle {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 16px;
}

.summaryData {
  color: #404040;
  font-weight: bold;
  font-size: 20px;
}

.summaryLastComicDate {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 14px;
}

.imageContainer {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 0px 27px 12px #b4e2b0;
}

.image {
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.rating {
  display: flex;
  gap: 4px;
}
